<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exairon.widget">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:launchMode="singleTask"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.exairon.widget.view.SplashActivity"
            android:exported="false"
            android:noHistory="true"
            android:launchMode="singleInstance"/>
        <activity
            android:name="com.exairon.widget.view.FormActivity"
            android:exported="false"
            android:noHistory="true"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.exairon.widget.view.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/NoActionBar"
            android:launchMode="singleInstance"
            android:exported="false" />
    </application>

</manifest>